<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Juliverbos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

<header class="header">
    <h1>🚀 ¡Hola Julia! 🚀</h1>
    <h2>Tu programita de verbos irregulares</h2>
<header>

<div class="container">
    <div class="tabs">
        <a href="/" class="tab {% 
            if pestaña_activa == 'añadir' %}active{%
            endif %}">
                Añadir
        </a>
        <a href="/todos" class="tab {%
            if pestaña_activa == 'todos' %}active{%
            endif %}">
            Obtener todos
        </a>
        <!--
        <button class="tab active">Añadir nuevo</button>
        <button class="tab">Obtener todos</button>
    -->
    </div>

    <!-- PESTAÑA AÑADIR -->
    {% if pestaña_activa == "añadir" %}
    <div class="tab-content active">
        <form method="POST" id="add-form">
            <input name="infinitivo" placeholder="Infinitivo" required>
            <input name="pasado" placeholder="Pasado" required>
            <input name="participio" placeholder="Participio" required>
            <input name="traduccion" placeholder="Traducción" required>

            <div class="buttons">
                <button type="submit">Añadir</button>
                <button type="button" onclick="limpiarFormulario()">Limpiar</button>
            </div>
        </form>

        {% if mensaje %}
            <p class="mensaje">{{ mensaje}} </p>
        {% endif %}
    </div>
    {% endif %}

    <!-- PESTAÑA OBTENER TODOS -->
    {% if pestaña_activa =="todos" %}
    <div class=""tab-content active>
        <p>🔎🔎 Mostrar el listado completo de verbos 🔎🔎</p>

        {% if verbos %}
            <table class="tabla">
                <thead>
                    <tr>
                        <th>Infinitivo</th>
                        <th>Pasado</th>
                        <th>Participio</th>
                        <th>Traducción</th>
                    </tr>
                </thead>
                <tbody>
                    {% for v in verbos %}
                        <tr>
                            <td>{{ v.infinitivo}}</td>
                            <td>{{ v.pasado }}</td>
                            <td>{{ v.participio }}</td>
                            <td>{{ v.traduccion }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Aún no hay ningún verbo guardado</p>
        {% endif %}
    </div>
    {% endif %}

    <!-- 
    <div class="container">
        <h1>Buscar verbo irregular</h1>

        <form method="POST">
            <input
                type="text"
                name="infinitivo"
                placeholder="Infinitivo en inglés"
                required
            >
            <button type="submit">Buscar</button>
        </form>

        {% if resultado %}
            <div class="resultado">
                <ul>
                    <li><strong>Infinitivo:</strong> {{ resultado.infinitivo }}</li>
                    <li><strong>Pasado:</strong> {{ resultado.pasado }}</li>
                    <li><strong>Participio:</strong> {{ resultado.participio }}</li>
                    <li><strong>Traducción:</strong> {{ resultado.traduccion }}</li>
                </ul> 
            </div>
        {% elif resultado is not none %}
            <h3>¡Lo sentimos</h3>
            <p>No hemos encontrado ese verbo</p>
        {% endif %}
    </div>
-->

</div>

</body>
</html>
